.nav {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #fdfdfd;
  border-bottom: 1px solid #ddd;
  max-width: 800px;
  border-radius: 12px;
  box-sizing: content-box;
  margin: 0 auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}

.link {
  text-decoration: none;
  font-weight: 500;
  color: #333;
  padding: 6px 12px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}
