.nav {
  width: 360px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  margin: 8px auto;
  border-radius: 12px;
  box-sizing: border-box;
  background-color: #fdfdfd;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}

.link {
  text-decoration: none;
  font-weight: 500;
  color: #333;
  padding: 6px 12px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.link.active {
  background-color: #9b8675;
  color: white;
}
