#root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
}
ul {
  list-style: none;
}
p {
  padding: 0;
  margin: 0;
}
.title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin: 24px 0;
  color: #2c3e50;
}
